body {
    font-family: Arial, sans-serif;
    background-image: url("6.jpg");
}
#back{ 
    background-image: url("6.jpg");
}

header {
    background-image: url("6.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}
h2 .h2{
    color: blue;
}

h1 {
    font-size: 2.5rem;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

@media (max-width: 576px) {
    h1 {
        font-size: 2rem;
    }

    .card-title {
        font-size: 1.25rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}
